# dependencies
/node_modules

# Next.js
/.next
/out

# production
/build

# local environment files
.env*
!.env.example

# logs
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*
.dev-*.log
/.pnpm-store

# editors and operating systems
.DS_Store
Thumbs.db
.vscode

# TypeScript
*.tsbuildinfo
next-env.d.ts
